---
import MapComponent from '../components/MapComponent.jsx';
import LayoutMenu from '../layouts/LayoutMenu.astro';
import '@capacitor-community/safe-area';
---

<LayoutMenu title="Mapa">
  <div style="padding-top: var(--safe-area-inset-top);">
    <MapComponent client:only="react" />
  </div>
</LayoutMenu>
